<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danielzhuravelproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityTasks"></activity>
        <activity android:name=".ActivityTests" />
        <activity android:name=".ActivityGrades" />
        <activity android:name=".ActivityHomeWork" />
        <activity android:name=".ActivitySettings" />
        <activity android:name=".ActivityChat" />
        <activity android:name=".ActivitySummaries" />
        <activity android:name=".ActivityCalendar" />
        <activity android:name=".ActivitySubjects" />
        <activity android:name=".ActivitySchedule" />
        <activity android:name=".ActivitySignUp" />
        <activity android:name=".ActivityLogIn" />
        <activity android:name=".ActivityMainMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>